<header>
  <div style="display: flex; justify-content: space-between; align-items: center; gap: 1rem;">
      <a href="/">
        <img src="static/logo_big.png" alt="Logo" style="border-radius: 50%; height: 40px; width: auto; transform: scale(1.25);"> 
      </a>
  <span>Secured Knowhow Control</span>
    </div>
      <nav style="margin-left: auto;">
        <a href="/" style="margin-right: 10px;">&#128221; Home</a>
        <a href="/solution" style="margin-right: 10px;">&#128295; Solution</a>
        <a href="/contact" style="margin-right: 10px;">&#128231; Subscribe</a>  
      </nav>
</header>