{% extends "index.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="norrow-center-section">
	<div class="column-container" style="justify-content: center; align-items: center;">
	<div class="column" style="max-width: 25rem">
	  <!-- <div class="indent-left"> -->
	<br>
	<!-- <h1>Get a grip on your knowhow again</h1> -->
	<h1>Get full control of your knowhow</h1>
	<p>KIWI helps businesses to leverage their data with a unified knowledge base and intuitive interfaces. Ready to take on the future.</p>
	  <button style="text-align: center;" class="button" onclick="window.location.href='/solution'">Check it out!</button>
	  <!-- </div> -->
	</div>
	
	<div class="column">
	  <img class="responsive-image" src="static/img/car_body.gif" style="" alt="Logo">
	</div>

	</div>

<!-- Video Section -->
<div class="video-container" style="margin: 2rem 0rem; padding: 1rem 0rem; display: flex; justify-content: center; align-items: center; flex-direction: column;">
  <h2 style="padding: 2rem 0rem;">What is KIWI in 20 seconds</h2>
  <!-- <video controls autoplay width="100%" style="max-width: 800px;" poster="static/img/intro-cover.png"> -->
  <video controls width="100%" poster="static/img/intro-cover.png">
	<source src="static/intro.mp4" type="video/mp4">
	Your browser does not support the video tag.
  </video>
</div>

<div class="benefits-section">
  <h2>Use cases</h2>
  <p>We love your PDFs!</p>
  <div class="container"  style="justify-content: center;">
	<div class="white-box">
	  <img src="static/icons/exel.png" alt="pdf-file-icon" style="border-radius: 10%; height: auto; width: 6rem;">
	  <h3> Specifications.xls </h3>
	  <p>Match engineering components directly by their specifications easily</p>
	</div>
	<div class="white-box">
	  <img src="static/icons/word.png" alt="pdf-file-icon" style="border-radius: 10%; height: auto; width: 5rem;">
	  <h3> User_manual.doc </h3>
	  <p>Retrieve instant step by step instructions for installing new components</p>
	</div>
	<div class="white-box">
	  <img src="static/icons/pdf-red-icon-outline.png" alt="pdf-file-icon" style="border-radius: 10%; height: auto; width: 2.5rem;">
	  <h3> Legislation.pdf </h3>
	  <p>Covert abstract lesgilatory documents into easily implementable tasks</p>
	  
	</div>
  </div>
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 3rem;">
	<h2>Try our Solution compared to ChatGPT</h2>
  <button style="text-align: center;" class="button" onclick="window.location.href='/solution'">Check it out!</button>
	</div>
  </div>

<div class="how-it-works-section">
  <h2>How It Works</h2>
  <p>Follow these simple 3 steps to accelerate your Engineering Knowhow!</p>
  <div class="how-it-works-container">
	<div class="white-box">
	  <h3 class="how-it-works-step">1</h3>
	  <h3>UPLOAD PDF</h3>
	  <p>Upload a PDF containing engineering specifications.</p>
	</div>
	<div class="white-box">
	  <h3 class="how-it-works-step">2</h3>
	  <h3>Empower</h3>
	  <p>Sit back. We structure your data.</p>
	</div>
	<div class="white-box">
	  <h3 class="how-it-works-step">3</h3>
	  <h3>Create</h3>
	  <p>Chat with your virtual Senior engineer 24/7.</p>
	</div>
  </div>
</div>

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 3rem;">
  <h2>Subscribe to the waitlist to get a best price!</h2>
<button style="text-align: center;" class="button" onclick="window.location.href='/contact'">Subscribe</button>
  </div>

<div class="benefits-section">
  <div class="column-container">
	<div class="column">
	  <img class="responsive-image" src="static/img/car_body1.jpg" alt="Logo">
	</div>
	<div class="column">
	  <div class="indent-left">
		<h3>Keep your Knowhow secure and continuously up to date</h3>
		<p>Stay ahead of the curve with a platform that safeguards your expertise while keeping your knowledge base current with the latest industry standards. Enjoy peace of mind knowing your critical information is always protected and evolving to meet tomorrow’s challenges.</p>
	  </div>
	</div>
  </div>
  <div class="column-container">
	<div class="column">
	  <div class="indent-left">
		<h3>Save Time, Ask your virtual senior engineer 24/7 ⏱️</h3>
		<p>Get instant, expert-level guidance anytime you need it. Your virtual senior engineer is available 24/7 to answer questions, solve problems, and help you work smarter, so you can focus on what truly matters—delivering results.</p>
	  </div>
	</div>
	<div class="column">
	  <img class="responsive-image" src="static/img/engineer-transformed.jpeg" alt="Logo">
	</div>
  </div>
</div>
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 3rem;">
  <h2>Try our Solution compared to ChatGPT</h2>
<button style="text-align: center;" class="button" onclick="window.location.href='/solution'">Check it out!</button>
  </div>
</div>
{% endblock %}