<!DOCTYPE html>
<html>
  <head>
    <!-- Add your own Google tag manager (gtag.js) 
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WC5KT96S7W"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WC5KT96S7W');
    </script> -->
    <meta charset="UTF-8">
    
    <title>KIWI - engineering intelligence | Home</title>

    <link rel="stylesheet" href="static/styles.css">
    
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    
  </head>
  <body>
    {% include 'header.html' %}
	{% block content %}{% endblock %}
    {% include 'footer.html' %}
  </body>
</html>
